<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  "
  *ngIf="mostrarGrafica"
  class="charts-container"
>
  <ngx-charts-bar-vertical
    [view]="view"
    [results]="lineChartData"
    [scheme]="colorScheme"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yScaleMax]="100"
    [roundEdges]="roundEdges"
    [showDataLabel]="showDataLabel"
    [animations]="animations">
  </ngx-charts-bar-vertical>
  <div class="small-content" style="width: 20%;height: 100%;">
    <mat-card-title>Nivel de avance</mat-card-title>
    <p>El nivel de avance se marca con un color de acuerdo con los siguientes intervalos:</p>
    <img src="assets/images/colores-avance-porcentaje.png">
  </div>

</div>

<br>
<mat-card-title *ngIf="mostrarTabla">
  Reporte avance promedio del plan: {{ plan.nombre.toUpperCase() }}
</mat-card-title>
<br>
<app-tabla-resumen-evaluacion
  *ngIf="mostrarTabla"
  [dataSource]="infoTabla"
  style="width: 100%"
></app-tabla-resumen-evaluacion>
