.charts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 100%;
}

.line-chart {
  width: 70%
}

.small-content {
  background-color: #FFF;
  border-radius: 8px;
  height: 100%;
  width: 20%;
  text-align: center;
  padding: 32px;

  mat-card-title {
    font-size: 20px;
  }
}
