table {
  width: 20%;
  color: green;
}

th {
  color: white;
  text-align: center;
}

td {
  text-align: center;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {

    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }

  .mat-row,
  .mat-header-row {

    display: table-row;
    text-align: center;
  }

  .mat-cell,
  .mat-header-cell {

    text-align: center;
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }


  .mat-cell {

    text-align: center;
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    white-space: pre-wrap;
  }

  .mat-footer-cell {

    background-color: var(--primary);
    color: white;
    text-align: center;
  }
}

th.mat-header-cell {
  text-align: center;
  padding: 5px 5px 5px 0;
  color: white;
}

.header1 {
  background-color: #731514;
}

.header2 {
  background-color: var(--color900);

}

.header3 {
  background-color: var(--color800);
}

.header4 {
  background-color: var(--color700);
}

.header5 {
  background-color: var(--color600);
}


.oscuro {
  background-color: #E7D6D6;
}

.claro {
  background-color: white;
}

// Colores para Cumplimiento por meta
.meta-rojo {
  background-color: #c71a1b;
  color: #fff;
}

.meta-piel {
  background-color: #ffa99e;
}

.meta-naranja {
  background-color: #fdc100;
}

.meta-amarillo {
  background-color: #fffe00;
}

.meta-verde {
  background-color: #72ac41;
}

.graficos {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 400px;
}

.pie-chart {
  width: 30%;
}

.pie-chart-titulo {
  font-size: 20px;
  font-weight: bold;
  color: #731514;
  width: 70%;
  margin: 0 auto;
}

.bar-chart {
  width: 60%;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  height: 100%;
}

.chart {
  height: 100%;
}

.pie-chart {
  width: 20%;
}

.line-chart {
  width: 60%;
}

.small-content {
  background-color: #FFF;
  border-radius: 8px;
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 32px;

  mat-card-title {
    font-size: 20px;
    color: var(--primary);
  }
}
