<mat-card class="card-oas">
  <mat-card-header>
    <mat-card-title>Evaluación Plan de Acción</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container>
      <u class="textGuide">
        A continuación encontrará un listado de unidades y vigencia, usted debe realizar la selección en cada una de
        las listas correspondientes.
      </u>
      <br>
    </ng-container>
    
    <mat-form-field class="selectorPlanStyle" appearance="fill">
      <mat-label id="tipo-input-label">Seleccione la unidad</mat-label>
      <mat-select [(value)]="unidad" (selectionChange)="onChangeU($event.value)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let unidad of unidades" [value]="unidad">
          {{unidad.Nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="selectorVigenciaStyle" appearance="fill">
      <mat-label id="tipo-input-label">Seleccione la vigencia</mat-label>
      <mat-select (selectionChange)="onChangeV($event.value)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia">
          {{vigencia.Nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="vigenciaSelected && unidadSelected">
      <mat-form-field class="selectorPlanStyle" appearance="fill">
        <mat-label id="tipo-input-label">Seleccione el Plan de Acción</mat-label>
        <mat-select (selectionChange)="onChangeP($event.value)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let plan of planes" [value]="plan">
            {{plan.plan}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="selectorVigenciaStyle" appearance="fill">
        <mat-label id="tipo-input-label">Seleccione el periodo</mat-label>
        <mat-select (selectionChange)="onChangePe($event.value)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let periodo of plan.periodos" [value]="periodo">
            {{periodo.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <div class="align-button-ingresar">
      <button *ngIf="unidadSelected != false && vigenciaSelected != false"
        [disabled]="!(planSelected && periodoSelected)" (click)="ingresarEvaluacion()" 
        class="btn-gestion-seg"
        mat-raised-button color="primary">
        Consultar evaluación
      </button>
    </div>
    <br>

    <ng-container *ngIf="bandera">
      <!-- Gráficos -->
      <div class="graficos">
        <div class="pie-chart">
          <p class="pie-chart-titulo">{{pieTitle}}</p>
          <ngx-charts-pie-chart
            [scheme]="pieChartColor"
            [results]="pieChartData"
            [doughnut]="true"
            [arcWidth]=0.5>
          </ngx-charts-pie-chart>
        </div>
        <div class="bar-chart">
          <ngx-charts-bar-vertical
            [scheme]="barChartColor"
            [results]="barChartData"
            [yAxis]="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>
      
      <br>
      <mat-card-header>
        <mat-card-title>Evaluación Plan de Acción</mat-card-title>
      </mat-card-header>
      <br>

      <!-- Tabla -->
      <div class="table-responsive">
        <table mat-table [dataSource]="actividades" matSort #table>
          <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'" [ngStyle]="{'display': 'none'}"></th>
            <td mat-cell *matCellDef="let row; let i = index" [attr.rowspan]="getRowSpan('numero',i)"
              [ngClass]="row.class" [style.display]="getRowSpan('numero', i) ? '' : 'none'">{{row.numero}}</td>
            <td mat-footer-cell *matFooterCellDef colspan="6" [style.text-align]="'center'">
              Avance General Plan de Acción
            </td>
          </ng-container>
          <ng-container matColumnDef="ponderacion" sticky>
            <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'" [ngStyle]="{'display': 'none'}"></th>
            <td mat-cell *matCellDef="let row; let i = index" [attr.rowspan]="getRowSpan('ponderado',i)"
              [ngClass]="row.class" [style.display]="getRowSpan('ponderado', i) ? '' : 'none'">
              {{row.ponderado / 100 | percent:'1.1-2':'es'}}
            </td>
            <td mat-footer-cell *matFooterCellDef [ngStyle]="{'display': 'none'}"></td>
          </ng-container>
          <ng-container matColumnDef="actividad" sticky style="border-collapse: separate">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'" [ngStyle]="{'display': 'none'}"></th>
            <td mat-cell *matCellDef="let row; let i = index" [attr.rowspan]="getRowSpan('actividad',i)"
              [ngClass]="row.class" [style.display]="getRowSpan('actividad', i) ? '' : 'none'"
              style="text-align: justify;">
              {{row.actividad}}
            </td>
            <td mat-footer-cell *matFooterCellDef [ngStyle]="{'display': 'none'}"></td>
          </ng-container>
          <ng-container matColumnDef="indicador" sticky style="border-collapse: separate">
            <th mat-header-cell style="min-width: 250px;width: 300px; max-width:  300px;" *matHeaderCellDef
              [style.text-align]="'center'" [ngStyle]="{'display': 'none'}"></th>
            <td mat-cell [ngClass]="item.class" style="min-width: 250px;width: 300px; max-width:  300px;"
              *matCellDef="let item">
              {{item.indicador}}
            </td>
            <td mat-footer-cell *matFooterCellDef [ngStyle]="{'display': 'none'}"></td>
          </ng-container>
          <ng-container matColumnDef="formula" sticky>
            <th mat-header-cell style="min-width: 250px;width: 300px; max-width:  300px;" *matHeaderCellDef
              [style.text-align]="'center'" [ngStyle]="{'display': 'none'}"></th>
            <td mat-cell [ngClass]="row.class" style="min-width: 250px;width: 300px; max-width:  300px;"
              *matCellDef="let row">
              {{row.formula}}
            </td>
            <td mat-footer-cell *matFooterCellDef [ngStyle]="{'display': 'none'}"></td>
          </ng-container>
          <ng-container matColumnDef="meta" sticky>
            <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'" [ngStyle]="{'display': 'none'}"></th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.meta / 100 | percent:'1.1-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.meta | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.meta | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell *matFooterCellDef [ngStyle]="{'display': 'none'}"></td>
          </ng-container>

          <!-- trimestre 1 -->
          <ng-container matColumnDef="numt1">
            <th mat-header-cell class="header2" *matHeaderCellDef>Numerador</th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.class">
              {{row.trimestre1.numerador | number:'1.0-2':'es'}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="dent1">
            <th mat-header-cell class="header2" *matHeaderCellDef>Denominador</th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.class">
              {{row.trimestre1.denominador| number:'1.0-2':'es'}} 
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="pert1">
            <th mat-header-cell class="header2" *matHeaderCellDef>Indicador del periodo</th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.trimestre1.periodo | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.trimestre1.periodo | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.trimestre1.periodo | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="acut1">
            <th mat-header-cell class="header2" *matHeaderCellDef>Indicador acumulado</th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.trimestre1.acumulado | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.trimestre1.acumulado | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.trimestre1.acumulado | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="metat1">
            <th mat-header-cell class="header2" *matHeaderCellDef>Cumplimiento por meta</th>
            <td mat-cell *matCellDef="let row" [ngClass]="colorCM(row.trimestre1.meta)">
              <ng-container *ngIf="row.trimestre1.meta <= 1; else elseBlock">
                {{row.trimestre1.meta | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>
                100% <br> (+{{row.trimestre1.meta - 1 | percent:'1.2-2':'es'}})
              </ng-template>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="brecha1">
            <th mat-header-cell class="header2" *matHeaderCellDef>Brecha</th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.class" style="min-width: 60px;">
              <ng-container *ngIf="row.trimestre1.meta < 1; else elseBlock">
                {{1 - row.trimestre1.meta | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>0%</ng-template>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="actividadt1">
            <th mat-header-cell class="header2" *matHeaderCellDef>Cumplimiento por actividad</th>
            <td mat-cell *matCellDef="let row; let i = index" [attr.rowspan]="getRowSpan('actividadt1',i)"
              [ngClass]="row.class" [style.display]="getRowSpan('actividadt1', i) ? '' : 'none'">
              <ng-container *ngIf="row.trimestre1.actividad <= 1; else elseBlock">
                {{row.trimestre1.actividad | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>
                100% <br> (+{{row.trimestre1.actividad - 1 | percent:'1.2-2':'es'}})
              </ng-template>
            </td>
            <td mat-footer-cell *matFooterCellDef>{{avanceTr1 | percent:'1.2-2':'es'}}</td>
          </ng-container>

          <!-- trimestre 2 -->
          <ng-container matColumnDef="numt2">
            <th mat-header-cell [style.display]="tr2 ? '' : 'none'" class="header3" *matHeaderCellDef>Numerador</th>
            <td mat-cell [style.display]="tr2 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              {{row.trimestre2.numerador | number: '1.0-2':'es'}} 
            </td>
            <td mat-footer-cell [style.display]="tr2 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="dent2">
            <th mat-header-cell [style.display]="tr2 ? '' : 'none'" class="header3" *matHeaderCellDef>Denominador</th>
            <td mat-cell [style.display]="tr2 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              {{row.trimestre2.denominador| number: '1.0-2':'es'}}
            </td>
            <td mat-footer-cell [style.display]="tr2 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="pert2">
            <th mat-header-cell [style.display]="tr2 ? '' : 'none'" class="header3" *matHeaderCellDef>Indicador del periodo</th>
            <td mat-cell [style.display]="tr2 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.trimestre2.periodo | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.trimestre2.periodo | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.trimestre2.periodo | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell [style.display]="tr2 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="acut2">
            <th mat-header-cell [style.display]="tr2 ? '' : 'none'" class="header3" *matHeaderCellDef>Indicador acumulado</th>
            <td mat-cell [style.display]="tr2 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.trimestre2.acumulado | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.trimestre2.acumulado | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.trimestre2.acumulado | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell [style.display]="tr2 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="metat2">
            <th mat-header-cell [style.display]="tr2 ? '' : 'none'" class="header3" *matHeaderCellDef>Cumplimiento por meta</th>
            <td mat-cell [style.display]="tr2 ? '' : 'none'" *matCellDef="let row" [ngClass]="colorCM(row.trimestre2.meta)">
              <ng-container *ngIf="row.trimestre2.meta <= 1; else elseBlock">
                {{row.trimestre2.meta | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>
                100% <br> (+{{row.trimestre2.meta - 1 | percent:'1.2-2':'es'}})
              </ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr2 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="brecha2">
            <th mat-header-cell [style.display]="tr2 ? '' : 'none'" class="header3" *matHeaderCellDef>Brecha</th>
            <td mat-cell [style.display]="tr2 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class" style="min-width: 60px;">
              <ng-container *ngIf="row.trimestre2.meta < 1; else elseBlock">
                {{1 - row.trimestre2.meta | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>0%</ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr2 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="actividadt2">
            <th mat-header-cell [style.display]="tr2 ? '' : 'none'" class="header3" *matHeaderCellDef>Cumplimiento por actividad</th>
            <td mat-cell [style.display]="tr2 ? '' : 'none'" *matCellDef="let row; let i = index"
              [ngClass]="row.class" [attr.rowspan]="getRowSpan('actividadt2',i)"
              [style.display]="getRowSpan('actividadt2', i) && tr2 ? '' : 'none'">
              <ng-container *ngIf="row.trimestre2.actividad <= 1; else elseBlock">
                {{row.trimestre2.actividad | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>
                100% <br> (+{{row.trimestre2.actividad - 1 | percent:'1.2-2':'es'}})
              </ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr2 ? '' : 'none'" *matFooterCellDef>{{avanceTr2 | percent:'1.2-2':'es'}}</td>
          </ng-container>

          <!-- trimestre 3 -->
          <ng-container matColumnDef="numt3">
            <th mat-header-cell [style.display]="tr3 ? '' : 'none'" class="header4" *matHeaderCellDef>Numerador</th>
            <td mat-cell [style.display]="tr3 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              {{row.trimestre3.numerador | number: '1.0-2':'es'}}
            </td>
            <td mat-footer-cell [style.display]="tr3 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="dent3">
            <th mat-header-cell [style.display]="tr3 ? '' : 'none'" class="header4" *matHeaderCellDef>Denominador</th>
            <td mat-cell [style.display]="tr3 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              {{row.trimestre3.denominador| number: '1.0-2':'es'}}
            </td>
            <td mat-footer-cell [style.display]="tr3 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="pert3">
            <th mat-header-cell [style.display]="tr3 ? '' : 'none'" class="header4" *matHeaderCellDef>Indicador del periodo</th>
            <td mat-cell [style.display]="tr3 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.trimestre3.periodo | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.trimestre3.periodo | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.trimestre3.periodo | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell [style.display]="tr3 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="acut3">
            <th mat-header-cell [style.display]="tr3 ? '' : 'none'" class="header4" *matHeaderCellDef>Indicador acumulado</th>
            <td mat-cell [style.display]="tr3 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.trimestre3.acumulado | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.trimestre3.acumulado | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.trimestre3.acumulado | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell [style.display]="tr3 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="metat3">
            <th mat-header-cell [style.display]="tr3 ? '' : 'none'" class="header4" *matHeaderCellDef>Cumplimiento por meta</th>
            <td mat-cell [style.display]="tr3 ? '' : 'none'" *matCellDef="let row" [ngClass]="colorCM(row.trimestre3.meta)">
              <ng-container *ngIf="row.trimestre3.meta <= 1; else elseBlock">
                {{row.trimestre3.meta | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>
                100% <br> (+{{row.trimestre3.meta - 1 | percent:'1.2-2':'es'}})
              </ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr3 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="brecha3">
            <th mat-header-cell [style.display]="tr3 ? '' : 'none'" class="header4" *matHeaderCellDef>Brecha</th>
            <td mat-cell [style.display]="tr3 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class" style="min-width: 60px;">
              <ng-container *ngIf="row.trimestre3.meta < 1; else elseBlock">
                {{1 - row.trimestre3.meta | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>0%</ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr3 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="actividadt3">
            <th mat-header-cell [style.display]="tr3 ? '' : 'none'" class="header4" *matHeaderCellDef>Cumplimiento por actividad</th>
            <td mat-cell [style.display]="tr3 ? '' : 'none'" *matCellDef="let row; let i = index"
              [attr.rowspan]="getRowSpan('actividadt3',i)" [ngClass]="row.class"
              [style.display]="getRowSpan('actividadt3', i) && tr3 ? '' : 'none'">
              <ng-container *ngIf="row.trimestre3.actividad <= 1; else elseBlock">
                {{row.trimestre3.actividad | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>
                100% <br> (+{{row.trimestre3.actividad - 1 | percent:'1.2-2':'es'}})
              </ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr3 ? '' : 'none'" *matFooterCellDef>{{avanceTr3 | percent:'1.2-2':'es'}}</td>
          </ng-container>

          <!-- trimestre 4 -->
          <ng-container matColumnDef="numt4">
            <th mat-header-cell [style.display]="tr4 ? '' : 'none'" class="header5" *matHeaderCellDef>Numerador</th>
            <td mat-cell [style.display]="tr4 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              {{row.trimestre4.numerador | number: '1.0-2':'es'}}
            </td>
            <td mat-footer-cell [style.display]="tr4 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="dent4">
            <th mat-header-cell [style.display]="tr4 ? '' : 'none'" class="header5" *matHeaderCellDef>Denominador</th>
            <td mat-cell [style.display]="tr4 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              {{row.trimestre4.denominador| number: '1.0-2':'es'}}
            </td>
            <td mat-footer-cell [style.display]="tr4 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="pert4">
            <th mat-header-cell [style.display]="tr4 ? '' : 'none'" class="header5" *matHeaderCellDef>Indicador del periodo</th>
            <td mat-cell [style.display]="tr4 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.trimestre4.periodo | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.trimestre4.periodo | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.trimestre4.periodo | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell [style.display]="tr4 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="acut4">
            <th mat-header-cell [style.display]="tr4 ? '' : 'none'" class="header5" *matHeaderCellDef>Indicador acumulado</th>
            <td mat-cell [style.display]="tr4 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class">
              <ng-container *ngIf="row.unidad =='Porcentaje'">
                {{row.trimestre4.acumulado | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Unidad'">
                {{row.trimestre4.acumulado | number: '1.0-0':'es'}}
              </ng-container>
              <ng-container *ngIf="row.unidad =='Tasa'">
                {{row.trimestre4.acumulado | number: '1.1-2':'es'}}
              </ng-container>
            </td>
            <td mat-footer-cell [style.display]="tr4 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="metat4">
            <th mat-header-cell [style.display]="tr4 ? '' : 'none'" class="header5" *matHeaderCellDef>Cumplimiento por meta</th>
            <td mat-cell [style.display]="tr4 ? '' : 'none'" *matCellDef="let row" [ngClass]="colorCM(row.trimestre4.meta)">
              <ng-container *ngIf="row.trimestre4.meta <= 1; else elseBlock">
                {{row.trimestre4.meta | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>
                100% <br> (+{{row.trimestre4.meta - 1 | percent:'1.2-2':'es'}})
              </ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr4 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="brecha4">
            <th mat-header-cell [style.display]="tr4 ? '' : 'none'" class="header5" *matHeaderCellDef>Brecha</th>
            <td mat-cell [style.display]="tr4 ? '' : 'none'" *matCellDef="let row" [ngClass]="row.class" style="min-width: 60px;">
              <ng-container *ngIf="row.trimestre4.meta < 1; else elseBlock">
                {{1 - row.trimestre4.meta | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>0%</ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr4 ? '' : 'none'" *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="actividadt4">
            <th mat-header-cell [style.display]="tr4 ? '' : 'none'" class="header5" *matHeaderCellDef>Cumplimiento por actividad</th>
            <td mat-cell *matCellDef="let row; let i = index" [attr.rowspan]="getRowSpan('actividadt4',i)"
              [ngClass]="row.class" [style.display]="getRowSpan('actividadt4', i) && tr4 ? '' : 'none'">
              <ng-container *ngIf="row.trimestre4.actividad <= 1; else elseBlock">
                {{row.trimestre4.actividad | percent:'1.2-2':'es'}}
              </ng-container>
              <ng-template #elseBlock>
                100% <br> (+{{row.trimestre4.actividad - 1 | percent:'1.2-2':'es'}})
              </ng-template>
            </td>
            <td mat-footer-cell [style.display]="tr4 ? '' : 'none'" *matFooterCellDef>{{avanceTr4 | percent:'1.2-2':'es'}}</td>
          </ng-container>

          <!-- Headers -->
          <ng-container matColumnDef="idP" sticky>
            <th id="col-combinado" class="header1" mat-header-cell *matHeaderCellDef [style.text-align]="'center'"
              [attr.rowspan]="2">N°</th>
          </ng-container>

          <ng-container matColumnDef="ponderacionP" sticky>
            <th id="col-combinado" class="header1" mat-header-cell *matHeaderCellDef [style.text-align]="'center'"
              [attr.rowspan]="2">Pond.</th>
          </ng-container>

          <ng-container matColumnDef="periodoP" sticky>
            <th id="col-combinado" class="header1" mat-header-cell *matHeaderCellDef [style.text-align]="'center'"
              [attr.rowspan]="2">Periodo de ejecución</th>
          </ng-container>

          <ng-container matColumnDef="actividadP" sticky>
            <th id="col-combinado" class="header1" mat-header-cell *matHeaderCellDef [style.text-align]="'center'"
              [attr.rowspan]="2">Actividad general</th>
          </ng-container>

          <ng-container matColumnDef="indicadorP" sticky>
            <th id="col-combinado" class="header1" mat-header-cell *matHeaderCellDef [style.text-align]="'center'"
              [attr.rowspan]="2">Indicador asociado</th>
          </ng-container>

          <ng-container matColumnDef="formulaP" sticky>
            <th id="col-combinado" class="header1" mat-header-cell *matHeaderCellDef [style.text-align]="'center'"
              [attr.rowspan]="2">Fórmula del indicador</th>
          </ng-container>

          <ng-container matColumnDef="metaP" sticky>
            <th id="col-combinado" class="header1" mat-header-cell *matHeaderCellDef [style.text-align]="'center'"
              [attr.rowspan]="2">Meta</th>
          </ng-container>

          <ng-container matColumnDef="trimestre1">
            <th id="col-combinado" class="header2" mat-header-cell *matHeaderCellDef [style.text-align]="'center'"
              [attr.colspan]="7">Trimestre 1</th>
          </ng-container>

          <ng-container matColumnDef="trimestre2">
            <th id="col-combinado" class="header3" mat-header-cell *matHeaderCellDef
              [style.display]="tr2 ? '' : 'none'" [style.text-align]="'center'" [attr.colspan]="7">Trimestre 2
            </th>
          </ng-container>

          <ng-container matColumnDef="trimestre3">
            <th id="col-combinado" class="header4" mat-header-cell *matHeaderCellDef
              [style.display]="tr3 ? '' : 'none'" [style.text-align]="'center'" [attr.colspan]="7">Trimestre 3
            </th>
          </ng-container>

          <ng-container matColumnDef="trimestre4">
            <th id="col-combinado" class="header5" mat-header-cell *matHeaderCellDef
              [style.display]="tr4 ? '' : 'none'" [style.text-align]="'center'" [attr.colspan]="7">Trimestre 4
            </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedHeaders" class="example-second-header-row"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </div>
      <br>

      <div class="align-button-ingresar">
        <button class="btn-gestion-seg" mat-raised-button color="primary" (click)="backClicked()">
          Regresar
        </button>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>